@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  color: #84309c;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  color: #e7e8e8;
  background: #070707;
}

.image-wrapper {
  display: flex;
  max-width: max-content;
}

.image-text {
  position: absolute;
  top: 30%;
  font-size: xxx-large;
  left: 20%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#B6FFFA;
}

.image-text2{
  position: absolute;
  top: 35%;
  font-size: xx-large;
  left: 20%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #B6FFFA;
}

.image-text3{
  position: absolute;
  top: 38%;
  font-size: xx-large;
  left: 20%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #B6FFFA;
}

.intro-heading{
  position: absolute;
  top: 55%;
  font-size: xxx-large;
  left: 20%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#FFF7F1;
}

.intro-heading1{
  position: absolute;
  top: 68%;
  font-size: xx-large;
  left: 7%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

h3{
  position: absolute;
  top: 75%;
  font-size: large;
  left: 7%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro12{
  position: absolute;
  top: 77%;
  font-size: large;
  left: 7%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro13{
  position: absolute;
  top: 79%;
  font-size: large;
  left: 7%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.vl {
  border-left: 3px solid white;
  height: 250px;
  position: absolute;
  left: 36%;
  top: 66%;
}

.intro-heading2{
  position: absolute;
  top: 68%;
  font-size: xx-large;
  left: 39%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro2{
  position: absolute;
  top: 75%;
  font-size: large;
  left: 39%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro22{
  position: absolute;
  top: 77%;
  font-size: large;
  left: 39%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.v2 {
  border-left: 3px solid white;
  height: 250px;
  position: absolute;
  left: 66%;
  top: 66%;
}

.intro-heading3{
  position: absolute;
  top: 68%;
  font-size: xx-large;
  left: 69%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro3{
  position: absolute;
  top: 75%;
  font-size: large;
  left: 69%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro32{
  position: absolute;
  top: 77%;
  font-size: large;
  left: 69%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.intro33{
  position: absolute;
  top: 79%;
  font-size: large;
  left: 69%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #FFF7F1;
}

.shop{
  position: absolute;
  top: 85%;
  left: 45%;
  color:#FFF7F1;
  padding: 15px 32px;
  width: 250px;
}

.bgcolor{
  width: 100%;
  height: 100%;
  background-color: #CDFCF6;
}

.aboutus{
  /* display: inline-flex; */
  margin: 40px 300px 0px;
  /* float: left; */
  opacity: 80%;
}

.aboutUsText{
  position: absolute;
  top: 8%;
  font-size: xxx-large;
  left: 43%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#5FBDFF;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 60%;
}

.aboutUsHeading{
  position: relative;
  font-size: xxx-large;
  /* left: 15%; */
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#5FBDFF;
  text-align: center;
  margin: 30px 150px 0px;
}

.aboutUsPara1{
  position: relative;
  top: 105%; 
  font-size: x-large;
  left: 1%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#387ADF;
  text-align: center;
  margin: 50px 200px 0px;
}

.aboutUsPara2{
  position: relative;
  top: 110%;
  font-size: x-large;
  left: 1%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#387ADF;
  text-align: center;
  margin: 40px 200px 70px;
}

.contactus{
  border-radius: 15px 70px 40px;
  margin-top: 100px;
}

.contactusHeading{
  position: absolute;
  top: 12%;
  font-size: xxx-large;
  left: 14%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#50C4ED;
}

.contactustext1{
  position: absolute;
  top: 13%;
  font-size: xxx-large;
  left: 58%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#50C4ED;
}

.contactustext2{
  position: absolute;
  top: 22%;
  font-size: xx-large;
  left: 53%;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#50C4ED;
}

.form{
  position: absolute;
  top: 30%;
  left: 56%;
}

.form1{
  width: 75%;
  height: 7vh;
  margin: 25px 100px 10px 0px;
  color: #F6995C;
  background-color: #FFF8E3;
  border-radius: 13px;
}

.form2{
  top: 47%;
  width: 75%;
  height: 7vh;
  margin: 25px 100px 10px 0px;
  color: #F6995C;
  background-color: #FFF8E3;
  border-radius: 13px;
}

.form3{
  top: 49%;
  width: 75%;
  height: 17vh;
  margin: 25px 100px 10px 0px;
  color: #F6995C;
  background-color: #FFF8E3;
  border-radius: 13px;
}

.submit{
  margin-top: 35px;
  margin-left: 180px;
  background-color: #F6995C; 
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.formbox{
  padding-bottom: 80px;
}

input.placeholder {
  text-align: center;
}

.buytext{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3559E0;
}

.selltext{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3559E0;
}

.ownnft{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#3559E0;
}

footer {
  text-align: center;
  font-size: x-large;
  padding: 12px;
  background-color: #3559E0;
  color: white;
}